@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');
body{
    background-color:hsl(222, 26%, 31%);
    font-family: 'League Spartan', sans-serif;
    font-weight:700;
    padding:40px;
    font-size:20px;;
    margin:20px;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
}

.grid-items{
    background-color: hsl(223, 31%, 20%);
    display: grid;
    grid-template-columns:repeat(3,1fr);
    grid-template-rows: 100px;
    gap: 10px;
    padding:20px;
    border-radius:10px;

}
.grid-items > button {
    border: 1px solid #000;
    border-radius: 5px;
    background-color:#fff;
    padding:2em;
  }
.btn{
    padding: 20px;
    font-size: 1em;
    border-radius: 8px;
    cursor: pointer;
    font-family:inherit;
}
.btn:hover{
    cursor:pointer;
}

#clear {
    grid-column: 1 / span 2; /* Occupies the first two columns */
    background-color:hsl(225, 21%, 49%); /* Red */
  }
  
  #clear:hover {
    background-color:hsl(6, 70%, 34%);
  }
  
  #equals {
    grid-column: 3 / span 2; /* Occupies the last two columns */
    background-color:hsl(6, 63%, 50%);
  }
  
  #equals:hover {
    background-color:hsl(225, 21%, 49%);
  }
  
  #delete {
    background-color: #ff9800; /* Orange */
  }
  
  #delete:hover {
    background-color: #f57c00;
  }
  .display{
    grid-column: 4 / span 1; /*Occupies the first row of all colums */
    padding:1em;
  }
  #display{
    font-family:inherit;
    color:#fff;
  }